#myeditor {
    font-size: 10pt;
    font-family: Noto Sans;
    border: 0px;
}
window {
    background-color: #e9e9e9;
}
viewport {
    font-size: 9pt;
    border: 0px;
}
entry {
    background-color: #e9e9e9;
}
headerbar.titlebar {
    font-size: 11pt;
    font-family: Noto Sans;
}
#statuslabel {
    font-size: 8pt;
    font-family: Noto Sans;
    border: 0px;
    color: #555753;
}
#openbutton:hover, #runbutton:hover,
#savebutton:hover, #saveasbutton:hover,
#showfindbutton:hover, #newbutton:hover,
#replacebutton:hover, #replaceallbutton:hover,
#filemanagerbutton:hover, #aboutbutton:hover,
#checkbutton:hover, #colorbutton:hover,
#menubutton:hover, #stylesbutton:hover,
#dialogsbutton:hover
{
    background-image: linear-gradient(0deg, #00aaff 0%, lightblue 100%);
}
combobox {
    font-size: 8pt;
}
